In [1]:
#Import Libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#Import data

df = pd.read_csv('creditcardmarketing.csv')

In [5]:
# Check data frame first 10 rows

df.head(10)

,Customer_number,Offer_Accepted,Reward_Type,Mailer_Type,Income,No_open_bank_accounts,Overdraft_protection,Credit_rating,No_credit_cards,Homes_owned,Household_size,Own_your_home?,Average_Balance,Q1_balance,Q2_balance,Q3_balance,Q4_balance
0,1,No,Air Miles,Letter,High,1,No,High,2,1,4,No,1160.75,1669.0,877.0,1095.0,1002.0
1,2,No,Air Miles,Letter,Medium,1,No,Medium,2,2,5,Yes,147.25,39.0,106.0,78.0,366.0
2,3,No,Air Miles,Postcard,High,2,No,Medium,2,1,2,Yes,276.50,367.0,352.0,145.0,242.0
3,4,No,Air Miles,Letter,Medium,2,No,High,1,1,4,No,1219.00,1578.0,1760.0,1119.0,419.0
4,5,No,Air Miles,Letter,Medium,1,No,Medium,2,1,6,Yes,1211.00,2140.0,1357.0,982.0,365.0
5,6,No,Air Miles,Letter,Medium,1,No,High,3,1,4,No,1114.75,1847.0,1365.0,750.0,497.0
6,7,No,Air Miles,Letter,Medium,1,No,Medium,2,1,3,No,283.75,468.0,188.0,347.0,132.0
7,8,No,Cash Back,Postcard,Low,1,No,Medium,4,1,4,Yes,278.50,132.0,391.0,285.0,306.0
8,9,No,Air Miles,Postcard,Medium,1,No,Low,2,1,4,Yes,1005.00,894.0,891.0,882.0,1353.0
9,10,No,Air Miles,Letter,High,2,No,Low,3,2,4,Yes,974.25,1814.0,1454.0,514.0,115.0

In [7]:
# Check prediction variable on imbalance
df['Offer_Accepted'].value_counts()

#We would need to use some sampling technique, random oversampling, smote,
#tomelinks or similar to have a better balance

No     16977
Yes     1023
Name: Offer_Accepted, dtype: int64

In [6]:
# Check df variables

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18000 entries, 0 to 17999
Data columns (total 17 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Customer_number        18000 non-null  int64
 1   Offer_Accepted         18000 non-null  object
 2   Reward_Type            18000 non-null  object
 3   Mailer_Type            18000 non-null  object
 4   Income                 18000 non-null  object
 5   No_open_bank_accounts  18000 non-null  int64
 6   Overdraft_protection   18000 non-null  object
 7   Credit_rating          18000 non-null  object
 8   No_credit_cards        18000 non-null  int64
 9   Homes_owned            18000 non-null  int64
 10  Household_size         18000 non-null  int64
 11  Own_your_home?         18000 non-null  object
 12  Average_Balance        17976 non-null  float64
 13  Q1_balance             17976 non-null  float64
 14  Q2_balance             17976 non-null  float64
 15  Q3_balance             17976 non-null  float64
 16  Q4_balance             17976 non-null  float64
dtypes: float64(5), int64(5), object(7)
memory usage: 2.3+ MB

In [ ]:
# nulls - 0 balance assumption or just remove the 24 empty rows

In [11]:
# drop target class from x

X = df.drop(['Offer_Accepted'], axis = 1)

In [12]:
# define the target y

y = df['Offer_Accepted']

In [17]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size = 0.3, random_state = 40)